<!DOCTYPE html>
<html>
  <head>
    <title>Code4Andy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header>
    <div class="nav navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="nav-header navbar-brand">
            <a><%= link_to "Code4Andy" , root_path %></a>
          </div>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search Pins</button>
          </form>
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Inbox <span class="badge">42</span></a></li>
              <li><a href="#">Messages <span class="badge">4</span></a></li>
              <li><%= link_to "New Pin" , new_pin_path %></li>
              <li><%= link_to "Account" , edit_user_registration_path %></li>
              <li><%= link_to "Sign Out" , destroy_user_session_path , method: :delete %></li>
            </ul>
          <% else %>
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign Up" , new_user_registration_path %></li>
              <li><%= link_to "Sign In " , new_user_session_path %></li>
          </ul>
          <% end %>  
        </div>
      </div>
    </header>
    <body><br><br><hr style="border: 0.5px solid #e9e9e9;">
  <div class="container"><br>
      <%= alert %></p>
      <%= yield %>
  </div>
  <footer class="footer">
         <p class="text-muted">Powered by : Code4Andy 2018</p>
       </footer>
 </body>
</html>
