<!DOCTYPE html>
<html>
  <head>
    <title>Code4Andy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav navbar navbar-default">
      <div class="container">
        <div class="navbar-brand"><%= link_to "Code4Andy" , root_path %></div>
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "New Pin" , new_pin_path %></li>
              <li><%= link_to "Account" , edit_user_registration_path %></li>
              <li><%= link_to "Sign Out" , destroy_user_session_path , method: :delete %></li>
            </ul>
          <% else %>
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign Up" , new_user_registration_path %></li>
              <li><%= link_to "Sign In " , new_user_session_path %></li>
          </ul>
          <% end %>  
        </div>
      </div>
    <div class="container">
      <%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
